BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED[0]" SITE "87" ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "LED[1]" SITE "88" ;
LOCATE COMP "LED[2]" SITE "98" ;
LOCATE COMP "LED[3]" SITE "99" ;
